:root{
    --bg-primary-color: #F8F9FA;
    --bg-field-color: #FFC8DD;
    /* --bg-btn-color: hsl(209, 100, 82); */
    --bg-btn-color: #A2D2FF;

    --space: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

form {
    display:grid;
    grid-template-columns: minmax(400px,70%);
    justify-content: center;
    gap: var(--space);
}

.wrapper-main {
    background-color:var(--bg-primary-color);
    margin: 0 auto;
    width: clamp(500px,80%,1200px);
    padding: var(--space);
}

.field {
    background-color: var(--bg-field-color);
    border-radius: 10px;
    font-weight: bold;
    padding: var(--space);
    display: flex;
    gap: var(--space);
    justify-content:center;
}

label {
    white-space: nowrap;
}

.row label {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 20%;
}

.two-column-grid{
    display:grid;
    grid-template-columns: repeat(2, calc(50% - var(--space) / 2));
    gap: var(--space);
}

.column {
    flex-direction:column;
}

.column-grid{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap: calc(var(--space) / 2);
}

.row *:nth-child(2){
    flex-grow:1;
}

textarea{
    resize: horizontal;
}

button {
    font-weight:bold;
    background-color: var(--bg-btn-color);
    border:none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    /* opacity: 0.75; */
    /* opacity: 0.90; */
    opacity: 0.80;
}

input[type="text"],button,textarea,select{
    padding: calc(var(--space) * 0.75);
}